body {
  padding: 0;
  margin: 0;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

.hero,
.footer {
  background-color: #1f2937;
  color: white;
}

.hero {
  padding: 0 8% 6%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.title {
  font-size: 24px;
  font-weight: 800;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

li a {
  text-decoration: none;
  color: white;
}

.hero_body {
  margin-top: 5%;
  display: flex;
  gap: 32px;
}

.hero_content {
  flex: 1;
  font-size: 18px;
}

.hero_img {
  flex: 1;
}

.sign_up_button {
  background-color: rgb(18, 150, 238);
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 800;
  margin-top: 16px;
}

.hero_img img {
  height: 350px;
  object-fit: cover;
}

.info {
  border: 1px solid rebeccapurple;
}

.info_title {
  font-size: 24px;
  text-align: center;
}

.info_cards_wrapper {
  display: flex;
  border: 1px solid teal;
  justify-content: center;
  gap: 48px;
  padding: 16px;
}

.card {
  max-width: 300px;
  max-height: 500px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: 1px solid red;
}

.info_cards_wrapper > div:nth-child(3) {
  object-fit: scale-down;
}
