body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.hero,
.footer {
  background-color: #1f2937;

  font-size: 18px;
}

.hero {
  padding: 0 8% 6%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  padding: 12px;
  color: #f9faf8;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero_body {
  margin-top: 5%;
  display: flex;
  gap: 32px;
}

.hero_content {
  flex: 1;
  font-size: 18px;
  color: #e5e7eb;
}

.hero_content > h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero_img {
  flex: 1;
}

.sign_up_button,
.action_button button {
  background-color: #3882f6;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 800;
  margin-top: 16px;
}

.hero_img img {
  height: 350px;
  object-fit: cover;
}

.info_title {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
  color: #1f2937;
}

.info_cards_wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 48px 0;
}

.card {
  max-width: 300px;
  max-height: 500px;
}

.card_img {
  height: 200px;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card p {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote div {
  width: 50%;
  font-style: italic;
  font-size: 20px;
  color: #1f2937;
}

.quote div:nth-child(2) {
  margin-top: 4px;
  text-align: right;
  font-style: normal;
}

.action {
  padding: 48px 0;
}

.action_bar {
  background-color: #3882f6;
  color: white;
  width: 50%;
  margin: auto;
  padding: 2% 4%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
}

.action_text strong {
  font-size: 18px;
}

.action_button {
  display: flex;
  align-items: center;
}

.action_button button {
  background-color: transparent;
  border: 2px solid white;
  margin: 0;
}

.footer {
  padding: 24px;
  text-align: center;
  color: #f9faf8;
}
